<form class="p-5" >
    <div class="form-row m-3">
        <p>Shipping Address</p>
        <label class=" control-label" for="validationDefault03">Country / Region</label>
    <select class="form-control p-2 mt-2 ">
        <option>Cairo</option>
        <option>Alex</option>
        <option>Tanta</option>
        <option>Giza</option>
        <option>Mansoura</option>
        <option>El-mahalla</option>
        <option>Ismailiya</option>

      </select>
    </div>

    <div class="form-row m-3">
      <div class="col-md-6 mb-3">
        <label class=" control-label" for="validationDefault01">First name</label>
        <input type="text" class="form-control mt-2 " id="validationDefault01" required>
      </div>

      <div class="col-md-6 mb-3">
        <label class=" control-label" for="validationDefault02">Last name</label>
        <input type="text" class="form-control mt-2 " id="validationDefault02" required>
      </div>
      
    </div>
    <!--  -->
    <div class="form-row m-3">

        <div class="col-md-6 mb-3">
            <label class=" control-label" for="validationDefault03">Phone Number</label>
            <input type="text" class="form-control mt-2 " id="validationDefault03"  required>
          </div>

      <div class="col-md-6 mb-3">
        <label class=" control-label" for="validationDefault03">City</label>
        <input type="text" class="form-control mt-2 " id="validationDefault03"  required>
      </div>
      <div class="col-md-6 mb-3">
        <label class=" control-label" for="validationDefault04">State</label>
        <input type="text" class="form-control mt-2 " id="validationDefault04"  required>
      </div>
      <div class="col-md-6 mb-3">
        <label class=" control-label" for="validationDefault05">Zip</label>
        <input type="text" class="form-control mt-2 " id="validationDefault05"  required>
      </div>
    </div>
    <!--  -->

    <button (click)="OnSumbit()" class="btn btn-primary m-3" type="submit">Continue</button>
  </form>