<form class="p-5" [formGroup] = "UserForm" > 
    <div class="form-row m-3">
        <p>Shipping Address</p>
        <label class=" control-label" for="validationDefault03">Country / Region</label>
    <select class="form-control p-2 mt-2 ">
        <option>Cairo</option>
        <option>Alex</option>
        <option>Tanta</option>
        <option>Giza</option>
        <option>Mansoura</option>
        <option>El-mahalla</option>
        <option>Ismailiya</option>

      </select>
    </div>

    <div class="form-row m-3">
      <div class="col-md-6 mb-3">
        <label class=" control-label" for="validationDefault01" >First name</label>
        <input type="text" class="form-control mt-2 " id="validationDefault01" formControlName="firstName"> 
              <!-- validation -->
              <div class="text-danger" *ngIf="UserForm.controls['firstName'].invalid && (UserForm.controls['firstName'].touched || UserForm.controls['firstName'].dirty)">
                <span *ngIf="UserForm.controls['firstName'].errors?.['required']">
                  This field is required 
                </span>
              </div>
      </div>



      <div class="col-md-6 mb-3">
        <label class=" control-label" for="validationDefault02" >Last name</label>
        <input type="text" class="form-control mt-2 " id="validationDefault02" formControlName="lastName">
        <!-- validation -->
        <div class="text-danger" *ngIf="UserForm.controls['lastName'].invalid && (UserForm.controls['lastName'].touched || UserForm.controls['lastName'].dirty)">
        <span *ngIf="UserForm.controls['firstName'].errors?.['required']" >
          This field is required 
        </span>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="form-row m-3">

        <div class="col-md-6 mb-3">
            <label class=" control-label" for="validationDefault03" >Phone Number</label>
            <input type="text" class="form-control mt-2 " id="validationDefault03"  formControlName="phoneNumber">
             <!-- validation -->
        <div class="text-danger" *ngIf="UserForm.controls['phoneNumber'].invalid && (UserForm.controls['phoneNumber'].touched || UserForm.controls['phoneNumber'].dirty)">
          <span *ngIf="UserForm.controls['phoneNumber'].errors?.['required']" >This field is required  </span>
          <span *ngIf="UserForm.controls['phoneNumber'].errors?.['maxlength']" >max length is 11 charcters</span>
          </div>
        </div>
    </div>

      <div class="col-md-6 mb-3">
        <label class=" control-label" for="validationDefault03" >City</label>
        <input type="text" class="form-control mt-2 " id="validationDefault03"  formControlName="city">
         <!-- validation -->
         <div class="text-danger" *ngIf="UserForm.controls['city'].invalid && (UserForm.controls['city'].touched || UserForm.controls['city'].dirty)">
          <span *ngIf="UserForm.controls['city'].errors?.['required']" >
            This field is required 
          </span>
          </div>
      </div>

      <div class="col-md-6 mb-3">
        <label class=" control-label" for="validationDefault04">State</label>
        <input type="text" class="form-control mt-2 " id="validationDefault04"  formControlName="state">
         <!-- validation -->
         <div class="text-danger" *ngIf="UserForm.controls['state'].invalid && (UserForm.controls['state'].touched || UserForm.controls['state'].dirty)">
          <span *ngIf="UserForm.controls['state'].errors?.['required']" >
            This field is required 
          </span>
          </div>
      </div>

      <div class="col-md-6 mb-3">
        <label class=" control-label" for="validationDefault05" >Zip</label>
        <input type="text" class="form-control mt-2 " id="validationDefault05"  formControlName="zip">
         <!-- validation -->
         <div class="text-danger" *ngIf="UserForm.controls['zip'].invalid && (UserForm.controls['zip'].touched || UserForm.controls['zip'].dirty)">
          <span *ngIf="UserForm.controls['zip'].errors?.['required']" >
            This field is required 
          </span>
          </div> 
      </div>
    <!--  -->

    <button (click)="OnSumbit()" class="btn btn-primary m-3" type="submit">Continue</button>
  </form>