<div class="container">
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-xl-6 col-sm-3 col-12 boxdata" routerLink="/dashboard/products">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-xl-6 col-12">
          <p class="title mb-2">Products</p>
          <span style="font-size: 18px; color: #7f7f7f;">30</span>
        </div>
        <div class="col-xl-3 col-12">
          <i class="fa-solid fa-laptop icon"></i>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-sm-3 col-12 boxdata" routerLink="/dashboard/users">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-xl-6 col-12">
          <p class="title mb-2">Users</p>
          <span style="font-size: 18px; color: #7f7f7f;">10</span>
        </div>
        <div class="col-xl-3 col-12">
          <i class="fa-solid fa-user icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>
