<table class="table">
  <thead>
    <tr>
      <th scope="col">OrderID</th>
      <th scope="col">UserName</th>
      <th scope="col">products</th>
      <th scope="col">TotalPrice</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of allOrders; let i = index">
      <td>{{ order._id }}</td>
      <td>{{ userNames[i] }}</td>
      <td>
        <ul>
          <li *ngFor="let product of order.orderItems">{{ product.title }}</li>
        </ul>
      </td>
      <td>{{ order.totalPrice }}</td>
      <td>{{ order.dateOfOrder }}</td>
      <td>{{ order.status }}</td>
    </tr>
  </tbody>
</table>
