<div class="row gy-3 mb-4">
  <div class="col-lg-5">
    <div class="me-lg-5">
      <div class="d-flex">
        <img [src]="cartItem.product.thumbnail" class="border rounded me-3" alt="thumbnail" />
        <div class="">
          <a href="#" class="nav-link">{{cartItem.product.title}}</a>
          <p class="text-muted">{{cartItem.product.brand}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
    <div class="" *ngIf="!isQuantityEdited">
      <select class="form-select me-4" title="quatity" [(ngModel)]="cartItem.quantity" (change)="onChangeQuantity()">
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>

    <div class="input mx-3" *ngIf="isQuantityEdited">
      <input type="number" [(ngModel)]="cartItem.quantity" (change)="onChangeQuantity()" placeholder="q"
        class="rounded border" min="1" [max]="cartItem.product.stock">
    </div>

    <div class="">
      <span class="h6">${{cartItem.product.price * cartItem.quantity}}</span> <br />
      <small class="text-muted text-nowrap"> ${{cartItem.product.price}} / per item </small>
    </div>
  </div>
  <div
    class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2">
    <div class="float-md-end">
      <a href="#!" class="btn btn-light border px-2 icon-hover-primary mx-3"><i
          class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
      <button class="btn btn-light border text-danger icon-hover-danger" (click)="onClickRemove()">Remove</button>
    </div>
  </div>
</div>
