<!-- <div>img</div>
<div>name</div>
<div>id</div>
<div>price</div>
<div>quan</div>
<div>date</div> -->

<h2>Orders details</h2>

<!-- <ul>
    <li>hyy</li>
    <li *ngFor="let order of orders">
        id : {{order.productId}}
        name : {{order.productName}}
        price : {{order.price}}
    </li>
</ul> -->
<div class="container">
    <div class="row">
      <div class="col-md">
        ProductId
      </div>
      <div class="col">
        img
      </div>
      <div class="col">
        name
      </div>
      <div class="col">
        quantity
      </div>
      <div class="col">
        price
      </div> <div class="col">
        date
      </div>
      <div class="col">
        <button>cancel</button>
      </div>
    </div>
  </div>