.line,
.carousel li img,
.carousel li,
.carousel {
  width: 100%;
}

.flex,
.carousel-wrapper,
.center,
.carousel ul {
  display: flex;
}

.center,
.carousel ul {
  align-items: center;
  justify-content: center;
}

.carousel-wrapper {
  position: relative;

  height: 500px;
}
.carousel-wrapper input {
  display: none;
}

.carousel {
  overflow: hidden;
}
.carousel ul {
  position: relative;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 500%;
  transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}
.carousel li img {
  border-radius: 15px;
}

.nav-dot {
  position: absolute;
  cursor: pointer;
  margin-left: -7.5px;
  bottom: -22.5px;
  width: 15px;
  height: 15px;
  opacity: 0.5;
  background-color: var(--secondery);
  border-radius: 50%;
  transition: 0.4s;
}
.nav-dot:hover {
  opacity: 0.8;
  transform: scale(1.2);
}
.nav-dot:active {
  transform: scale(0.9);
}

.nav-dot[for="slide1"] {
  left: 40%;
}

#slide1:checked ~ .carousel ul {
  left: 0%;
}
#slide1:checked ~ .nav-dot[for="slide1"] {
  opacity: 1;
}

.nav-dot[for="slide2"] {
  left: 45%;
}

#slide2:checked ~ .carousel ul {
  left: -100%;
}
#slide2:checked ~ .nav-dot[for="slide2"] {
  opacity: 1;
}

.nav-dot[for="slide3"] {
  left: 50%;
}

#slide3:checked ~ .carousel ul {
  left: -200%;
}
#slide3:checked ~ .nav-dot[for="slide3"] {
  opacity: 1;
}

.nav-dot[for="slide4"] {
  left: 55%;
}

#slide4:checked ~ .carousel ul {
  left: -300%;
}
#slide4:checked ~ .nav-dot[for="slide4"] {
  opacity: 1;
}

.nav-dot[for="slide5"] {
  left: 60%;
}

#slide5:checked ~ .carousel ul {
  left: -400%;
}
#slide5:checked ~ .nav-dot[for="slide5"] {
  opacity: 1;
}

.right-arrow,
.left-arrow {
  display: none;
  position: absolute;
  cursor: pointer;
  font-weight: bolder;
  text-shadow: 0 0 7.5px rgba(0, 0, 0, 0.7);
  top: 50%;
  z-index: 1;
  opacity: 0.7;
  margin-top: -25px;
  height: 50px;
  font-size: 50px;
  transition: 0.2s;
}
.right-arrow:hover,
.left-arrow:hover {
  opacity: 1;
  transform: scale(1.2);
}
.right-arrow:active,
.left-arrow:active {
  transform: scale(0.9);
}

.left-arrow {
  left: 15px;
}

.right-arrow {
  right: 15px;
}

#slide1:checked ~ .left-arrow[for="slide5"],
#slide1:checked ~ .right-arrow[for="slide2"] {
  display: block;
}

#slide2:checked ~ .left-arrow[for="slide1"],
#slide2:checked ~ .right-arrow[for="slide3"] {
  display: block;
}

#slide3:checked ~ .left-arrow[for="slide2"],
#slide3:checked ~ .right-arrow[for="slide4"] {
  display: block;
}

#slide4:checked ~ .left-arrow[for="slide3"],
#slide4:checked ~ .right-arrow[for="slide5"] {
  display: block;
}

#slide5:checked ~ .left-arrow[for="slide4"],
#slide5:checked ~ .right-arrow[for="slide1"] {
  display: block;
}

.signature {
  margin-top: 100px;
  bottom: 0;
  font-family: "Quicksand";
  color: #9696aa;
  text-shadow: 0 2.5px rgba(0, 0, 0, 0.25);
}
.signature .name {
  color: white;
}
.signature .dot {
  margin: 0 5px;
}
.signature a {
  color: white;
  text-decoration: underline;
}

.section__intro {
  position: relative;
}

.u-s-m-b-16 {
  margin-bottom: 1rem;
}
.section__text-wrap {
  text-align: center;
}
.section__heading {
  font-weight: 600;
  letter-spacing: -0.02rem;
  font-size: 28px;
  position: relative;
}
.u-c-secondary {
  color: #333333 !important;
}
.u-s-m-b-12 {
  margin-bottom: 0.75rem;
}
.section__span {
  font-size: 13px;
  display: block;
}
.u-c-silver {
  color: #a0a0a0 !important;
}

.filter-category-container {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
}

.filter__btn--style-1 {
  position: relative;
  transition: all 0.3s ease 0s;
  display: block;
  border: none;
  padding: 18px;
  font-size: 14px;
  color: #333333;
  font-weight: 600;
  background-color: transparent;
  text-transform: capitalize;
}
.filter__btn--style-1:before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #ff4500;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 0.2s ease 0s;
}
.filter__btn--style-1:hover {
  color: #ff4500;
}
.filter__btn--style-1:hover:before {
  width: 100%;
}
.filter__btn--style-1.js-checked {
  color: #ff4500;
}
.filter__btn--style-1.js-checked:before {
  width: 100%;
}

.filter__btn--style-2 {
  transition: all 0.3s ease 0s;
  display: block;
  padding: 15px 27px;
  margin: 0 8px 10px;
  border: 2px solid #f7f7f9;
  font-size: 12px;
  color: #7f7f7f;
  background-color: transparent;
}
.filter__btn--style-2:hover {
  border-color: #ff4500;
  color: #333333;
}
.filter__btn--style-2.js-checked {
  border-color: #ff4500;
  color: #333333;
}

.load-more {
  text-align: center;
  padding: 40px 0;
}
.load-more > button {
  padding: 22px 56px;
  border: none;
  border-radius: 5px;
  font-size: 13px;
}
.btn--e-brand {
  color: #ffffff;
  border: 1px solid transparent;
  background-color: #ff4500;
  /* transition: background-color 0.5s ease-in; */
}
.btn--e-brand:hover {
  background-color: #fa4400;
  color: #ffffff;
}

.btn--e-brand-b-2 {
  color: #ffffff;
  background-color: #ff4500;
  border: 2px solid #ff4500;
  /* transition: background-color 0.5s ease-in, border-color 0.5s ease-in; */
}
.btn--e-brand-b-2:hover {
  background-color: #fa4400;
  border-color: #fa4400;
  color: #ffffff;
}

.icon {
  color: #ff4500;
  font-size: 20px;
  cursor: pointer;
}

.product-o {
  padding: 20px;
  background-color: #ffffff;
  height: 450px;
}

.product-o--hover-off {
  box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.1);
}

.product-o--radius {
  border-radius: 14px;
}

.product-o--hover-on {
  transition: all 0.4s ease-in-out;
}
.product-o--hover-on:hover {
  box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.1);
}

.product-o:hover .product-o__wrap:before {
  opacity: 1;
}

.product-o:hover .product-o__action-wrap {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
}

.product-o:hover .product-o__action-list > li {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.product-o__wrap {
  position: relative;
}
.product-o__wrap:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.product-o__action-wrap {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  z-index: 2;
  -webkit-transform: translateY(-50%) scale(0.8);
  transform: translateY(-50%) scale(0.8);
  transition: all 0.2s ease 0s;
}

.product-o__action-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.product-o__action-list > li {
  margin: 0 4px 6px;
  opacity: 0;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  transition: all 0.3s ease 0.1s;
}
.product-o__action-list > li > a {
  display: block;
  width: 35px;
  text-align: center;
  border-radius: 50%;
  height: 35px;
  line-height: 35px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #ffffff;
  font-size: 12px;
  transition: all 0.3s ease 0s;
}
.product-o__action-list > li > a:hover {
  background-color: #333333;
  color: #ffffff;
}

.product-o__category {
  display: block;
  margin-top: 4px;
  color: #a0a0a0;
  font-size: 12px;
  text-transform: capitalize;
}

.product-o__name {
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  transition: color 0.5s;
}

.product-o__rating {
  margin-bottom: 4px;
}
.product-o__rating i {
  font-size: 12px;
}

.product-o__review {
  margin-left: 4px;
  font-size: 12px;
  color: #a0a0a0;
}

.product-o__price {
  display: block;
  color: #333333;
  font-size: 14px;
  font-weight: 600;
}

.product-o__discount {
  font-weight: 600;
  margin-left: 30px;
  color: #333333;
  font-size: 14px;
  text-decoration: line-through;
}

.product-o__countdown-wrap {
  margin-top: 16px;
}

.product-o__special-count-wrap {
  position: absolute;
  width: 100%;
  bottom: 20px;
}

.u-d-block {
  display: block;
}

.aspect {
  position: relative;
}

.aspect--bg-grey {
  background-color: #f5f5f5;
}

.aspect--bg-grey-fb {
  background-color: #fbfbfb;
}

.aspect--square {
  padding-bottom: 100%;
}

.aspect__img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.gl-rating-style > i {
  margin-left: 2px;
  color: #ff9600;
}
.gl-rating-style > i:first-child {
  margin-left: 0;
}

.gl-rating-style-2 > i {
  margin-left: 2px;
  color: #ff4500;
}
.gl-rating-style-2 > i:first-child {
  margin-left: 0;
}
