<div class="center">
  <div class="carousel" [ngClass]="{ next: next, prev: prev }">
    <div class="list">
      <div class="item">
        <img [src]="bannerData[firstIndex].img" alt="" />

        <div class="content">
          <div class="title">{{ bannerData[firstIndex].title }}</div>
          <div class="desc">{{ bannerData[firstIndex].desc }}</div>
          <div class="buttons">
            <button>SEE MORE</button>
            <button>ALL PRODUCTS</button>
          </div>
        </div>
      </div>

      <div class="item">
        <img [src]="bannerData[secIndex].img" alt="" />

        <div class="content">
          <div class="title">{{ bannerData[secIndex].title }}</div>
          <div class="desc">{{ bannerData[secIndex].desc }}</div>
          <div class="buttons">
            <button>SEE MORE</button>
            <button>ALL PRODUCTS</button>
          </div>
        </div>
      </div>

      <div class="arrows">
        <button id="prev" (click)="onClickPrev()"><</button>
        <button id="next" (click)="onClickNext()">></button>
      </div>
    </div>
  </div>

  <div class="section__intro u-s-m-b-16 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section__text-wrap">
            <h1 class="section__heading u-c-secondary u-s-m-b-12">
              TOP TRENDING
            </h1>

            <span class="section__span u-c-silver">CHOOSE CATEGORY</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--====== End - Section Intro ======-->

  <!--====== Section Content ======-->
  <div class="section__content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="filter-category-container">
            <div class="filter__category-wrapper">
              <button
                class="btn filter__btn filter__btn--style-1"
                [class.js-checked]="!selectedCategory"
                type="button"
                data-filter="*"
                (click)="getAllProducts()"
              >
                All
              </button>
            </div>
            <div
              class="filter__category-wrapper"
              *ngFor="let category of allCategories"
            >
              <button
                class="btn filter__btn filter__btn--style-1"
                [class.js-checked]="selectedCategory === category"
                type="button"
                data-filter=".headphone"
                (click)="getProductsByCategory(category)"
              >
                {{ category.nameCategory }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30 filter__item products headphone mt-3"
          *ngFor="let product of allProducts.slice(0, 8)"
        >
          <div class="product-o product-o--hover-on product-o--radius">
            <div class="product-o__wrap">
              <a class="aspect aspect--bg-grey aspect--square u-d-block">
                <img class="aspect__img" [src]="product.images[0]" alt=""
              /></a>
              <div class="product-o__action-wrap">
                <ul class="product-o__action-list">
                  <li>
                    <a
                      data-modal="modal"
                      data-modal-id="#quick-look"
                      data-tooltip="tooltip"
                      data-placement="top"
                      title="Quick View"
                      (click)="showDetails(product._id)"
                      ><i class="fa-solid fa-circle-info"></i
                    ></a>
                  </li>
                  <button
                    class="border-0 btnn remove"
                    data-modal="modal"
                    data-modal-id="#add-to-cart"
                    data-tooltip="tooltip"
                    data-placement="top"
                    title="Add to Cart"
                    [class.click]="isClicked"
                    (click)="toggleCart(product._id)"
                  >
                    <i
                      class="fas fa-shopping-cart"
                      [ngClass]="{ 'is-in-cart': isClicked }"
                    ></i>
                  </button>
                  <li>
                    <a
                      data-modal="modal"
                      data-modal-id="#add-to-cart"
                      data-tooltip="tooltip"
                      data-placement="top"
                      title="Add to Cart"
                      (click)="addProductToCart(product._id)"
                      ><i class="fas fa-shopping-cart"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      data-tooltip="tooltip"
                      data-placement="top"
                      title="Add to Wishlist"
                      ><i class="fas fa-heart"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>

            <span class="product-o__category">
              {{ product.category.nameCategory }}</span
            >

            <span class="product-o__name"> {{ product.title }}</span>
            <div class="product-o__rating gl-rating-style">
              <i class="fas fa-star"></i><i class="fas fa-star"></i
              ><i class="fas fa-star"></i><i class="fas fa-star"></i
              ><i class="fas fa-star-half-alt"></i>

              <span class="product-o__review">(23)</span>
            </div>

            <span class="product-o__price"
              >{{ product.price }}

              <span class="product-o__discount">{{
                product.discount
              }}</span></span
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="load-more">
            <button class="btn btn--e-brand" type="button">

              <a class="text-decoration-none text-white" routerLink="/user/products"
                >Load More</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
