<form [formGroup]="loginForm" class="m-3" (ngSubmit)="submit()">

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" formControlName="email" class="form-control" id="email" name="E-mail">

    <div class="alert alert-warning" [hidden]="email?.valid || email?.untouched">
      <small *ngIf="email?.errors?.['required']">
        email is required
      </small>
      <small *ngIf="email?.errors?.['EmailNotValid']">
        Email must contains &#64;Example.com, <b> {{email?.errors?.['EmailNotValid'].value}} </b> doesn't match
      </small>
    </div>
  </div>

  <div class="mb-3">

    <label for="password" class="form-label">Password</label>
    <input type="password" formControlName="password" class="form-control" id="password" name="Password">

    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">SingIn</button>

  </div>
</form>
