<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a
      class="nav-link active"
      routerLink="/dashboard/home"
      routerLinkActive="active"
      >Home</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link active"
      routerLink="/dashboard/users"
      routerLinkActive="active"
      >Users</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link active"
      routerLink="/dashboard/products"
      routerLinkActive="active"
      >Products</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link active"
      routerLink="/dashboard/categories"
      routerLinkActive="active"
      >Category</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link active"
      routerLink="/dashboard/orders"
      routerLinkActive="active"
      >Orders</a
    >
  </li>
</ul>
