<ul class="list-group">
  <li
    class="list-group-item"
    routerLink="/dashboard/homedashboard"
    routerLinkActive="active"
  >
    Home
  </li>
  <li
    class="list-group-item"
    routerLink="/dashboard/users"
    routerLinkActive="active"
  >
    Users
  </li>
  <li
    class="list-group-item"
    routerLink="/dashboard/products"
    routerLinkActive="active"
  >
    <a>Products</a>
  </li>
  <li
    class="list-group-item"
    routerLink="/dashboard/categories"
    routerLinkActive="active"
  >
    <a>Category</a>
  </li>
  <li
    class="list-group-item"
    routerLink="/dashboard/orders"
    routerLinkActive="active"
  >
    Orders
  </li>
</ul>
