<!-- Products -->


<section>
  <div class="container my-5">
    <header class="mb-4 d-flex justify-content-between align-items-center">
      <h2 class="text-bold">Products</h2>
      <button class="btn btn-dark rounded" (click)="sortProductByPrice()"><i class="fa-solid fa-arrow-down-short-wide"></i></button>
    </header>
   
    <div class="row">

      <div class="col-lg-4 col-md-6 col-sm-12 " *ngFor="let prd of product">
        <app-product-card  [prd]="prd"></app-product-card>
      </div>
    </div>
  </div>
 
  
    
       
  

  
  <div class="text-center" *ngIf="loading">
    <app-loader></app-loader>
  </div>
</section>
<!-- Products -->
