<div class="container my-5">
  <div class="row d-flex justify-content-between">
    <div class="col-xl-3 col-12">
      <ul class="list-group">
        <li class="list-group-item active" aria-current="true">ACCOUNT</li>
        <li class="list-group-item">NEW ORDERS</li>
        <li class="list-group-item">ORDERS HISTORY</li>
        <li class="list-group-item">MY WISHLIST</li>
        <li class="list-group-item">LOG OUT</li>
      </ul>
    </div>

    <div class="col-xl-8 col-12 border rounded p-4">
      <div class="container">
        <div class="row d-flex justify-content-md-between justify-content-center">
          <div
          class="col-12 col-md-6 rounded-circle"
          [ngStyle]="userImageStyle"
          ></div>
          <span class="col-12 col-md-6 text-bold h3 text-md-end text-center mt-md-0 mt-3">{{user.name}}</span>

          <div class="col-12 d-flex justify-content-between mt-4">
            <div>
              <p><span class="text-bold">Email:</span> {{user.email}} </p>
              <p><span class="text-bold">Phone:</span> +{{user.phone}}</p>
            </div>
            <i class="fa-solid fa-pen-to-square text-end h4 text-warning" id="edit-button" (click)="onClick()"></i>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <p class="col-12 text-danger text-center">
          Old Orders Will Be Here
        </p>
        <button (click)="onClick()">Click</button>
      </div>
    </div>
  </div>
</div>
